img {
  max-width: 30px;
  margin-bottom: 15px;
}

h3,
h4 {
  text-align: right;
  padding-right: 15px;
}
h4 {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 20px;
}

ul {
  list-style: none;
  text-align: right;
  font-size: 12px;
  line-height: 1.5;
}

.container {
  margin: 0;
  padding: 20;
}
.weather-app {
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 20px;
  margin: 30px 0 0 0;
  width: 600px;
}

.input-group {
  display: flex;
  width: 300px;
  height: fit-content;
}

.currenttemp {
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  line-height: 1.5;
  display: inline;
  padding-left: 70px;
}

.units {
  font-size: 12px;
  position: relative;
  top: -15px;
}

.currentimg {
  text-align: right;
  font-size: 80px;
  padding-left: 10px;
  line-height: 1;
  display: inline;
}

.forecast {
  padding-top: 30px;
  font-size: 14px;
  text-align: center;
}

.weatherimages {
  text-align: center;
  font-size: 30px;
}

.forecasttemp {
  text-align: center;
  font-size: 30;
  font-weight: 200px;
}

#open-source-link {
  font-size: 14px;
  text-decoration: none;
  padding-left: 20px;
}
#open-source-text {
  display: inline;
  font-size: 14px;
}
